*{
    margin: 0;
    padding: 0;
}

a,a:hover{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
body,h1,h2,h3,h4,h5,h6,p,span,button,textarea{
    font-family: 'Poppins', sans-serif;
}
/* header section  */

header{
    width: 100%;
    padding:40px 0;
}
.h-btn{
    color: white;
    background: #2500f9;
    padding: 15px 25px;
    border-radius: 35px;
    border: none;
    margin-left: 48px;
    font-weight: 600;
}
.nav-item{
    margin-left: 22px;
}
.nav-link{
    color: #242f51 !important;
}
.nav-link:hover{
    color: red;
}

/* banner section */

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
}
.banner-text{
    height: 100vh;
    display: table-cell;
    vertical-align:middle;
}
.banner-text h1{
    font-size: 60px;
    color: #242f51;
    font-weight: 600;
}
.banner-text p{
    color: #616368;
    font-size: 18px;
    margin-right: 52px;
    padding: 22px 0;
}
.banner-btn .h-btn{
    margin-left: 0;
    margin-right: 20px;
}
.Editor{
    background-color: #e2eaed;
    display: inline-block;
    border-radius: 35px;
    /* padding:10px 5px 5px 0px ; */

    
}
.Editor .one{
    height: 34px;
    width: 34px;
    line-height: 34px;
    background:#feaa25;
    display: inline-block;
    text-align: center;
    border-radius:35px ;
}
.Editor .two{
    display: inline-block;
    padding: 0px 22px 0px 2px;
}

/* client logo */

.client-logo{
    padding: 60px 0;
    width: 100%;
    text-align: center;
}
.item{
    margin: 20px 0;
}
.client-logo .owl-dot{
    display: none;
}
.client-logo .owl-dot :active{
    display: none;
}
.logoo{
    margin-top: 32px;
}

.owl-carousel .owl-item img {
     display:inline-block !important;
     width: auto !important;
}
.client-logo .owl-dots{
    display: none;
}
.client-logo .owl-nav{
    display: none;
}

/* phone feature Section start */

.phn-feature{
    width: 100%;
    padding: 40px;
}
.f-sub p{
    color: #616368;
    font-size: 16px;
    margin-right: 52px; 
    padding: 22px 0;
    margin-right: 117px;
}
.f-sub h2{
    color: #242f51;
    font-size: 36px;
    margin-right: 196px;
    font-weight: 600;
}
.f-span{
    background: #ffecef;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    margin-right: 32px;
  
}
.f-span-1{
    background: #f4f4ff;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    margin-right: 32px;
}
.f-span-2{
    background: #e4ffee;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    margin-right: 32px;
}
.col{
    padding: 40px 0;
}
.f-right .f-2{
    color: #40975f;
    font-size: 20px;
}
.f-right .f-1{
    color: #2563ff;
    font-size: 20px;
}
.f-right{
    margin-left: 32px;
}
.f-right h3{
    color: #f55767;
    font-size: 20px;
}
.f-right p{
    width: 262px;
}

/* <!-- smart jack section start --> */

.smart-jack{
    padding: 60px 0;
}
.sm-left h3{
    font-size: 46px;
    font-weight:600;
    color: #242f51;
    
}
.sm-right p{
    border-left: 1px solid black;
    padding-left: 106px;
    padding-top: 42px;
    height: 180px;
    color: #616368;
    font-size: 16px;

}
.sma-middle .sm-1{
    color: #2563ff;
}
.sma-right .sm-2{
    color: #40975f;
}
.sm-right{
    margin-bottom: 50px;
}
.im{
    background: #ffecef;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;

}
.sma-middle .im{
    background: #ffecef;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;

}
.sma-right .im{
    background: #ffecef;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;

}
.sma-middle .im-1{
    background: #f4f4ff;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;

}
.sma-right .im-2{
    background: #e4ffee;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;

}
.sma-left h5{
    color: #f55767;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;

}
.sma-middle h5{
    color: #f55767;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;

}
.sma-right h5{
    color: #f55767;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;

}
.smm{
    color: #616368;
    font-size: 16px;
    margin-right: 105px;
}

/* <!-- smart jack section end --> */

/* designed section start */

.designed{
    padding: 60px 0;
}

.d-right h3{
    font-size: 36px;
    font-weight:600;
    color: #242f51;
    margin-top: 40px;
}
.d-right p{
    color: #616368;
    font-size: 16px;
    margin-right: 64px;
    margin: 40px 0;
}
.d-btn{
    color: white;
    background: #2500f9;
    padding:18px 34px;
    border-radius: 35px;
    border: none;
    font-weight: 600;
}

/* designed section end */

/* custom page start */

.custom{
    padding: 60px 0;
}
.custom-text{
    text-align: center;
}
.custom-text h5{
    font-size: 36px;
    font-weight:600;
    color: #242f51;
}
.custom-text p{
    color: #616368;
    font-size: 16px;
    margin-right: 64px;
    margin-top: 40px;
    margin-bottom: 80px;
}
.cs-left{
    text-align: center;
    padding: 30px 0;
}

.cs-left h5{
    color: #242f51;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;

}
.cs-img{
    background: #ffecef;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;

}
.cs-img-1{
    background: #eaf9ff;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}
.cs-img-2{
    background: #fff6d3;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}
.cs-img-3{
    background: #e4ffee;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}
.cs-img-4{
    background: #f4f4ff;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}
.cs-img-5{
    background: #fdeee4;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}




/* custom page end */

/* mobile feature start */

.mobile-feature{
    padding: 60px 0;
    width: 100%;
    position: relative;

}
.mb-item h5{
    color: #242f51;
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
}
.mb-item p{
    color: #616368;
    font-size: 16px;
    margin-right: 64px;
    margin-top: 20px;
    margin-bottom: 40px

}
.mb-left{
    text-align: left;
    padding: 20px 0;
}
.mb-btn{
    color: white;
    background: #2500f9;
    padding: 16px 45px;
    border-radius: 35px;
    border: none;
    font-weight: 600;
    margin-top: 30px;

}
.cs-img-6{
    background: #e4ffee;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}
.cs-img-7{
    background: #fff6d3;
    height: 100px;
    width: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
}
.ull-test{
    position: absolute;
    right:0 !important;
} 

/* mobile feature section end */

/* <!-- pricing feature section start --> */

.pricing{
    padding: 60px 0;
    width: 100%;
}
.pricing-title{
    text-align: center;
}
.pricing-title h2, .test-item h2, .faq-title h2{
    font-size: 36px;
    color: #242f51;
    font-weight: 600;
    margin-bottom: 24px;
}
.pricing-title p, .test-item p .faq-title p{
    font-size: 16px;
}
.price-table{
    text-align: center;
    margin-top: 30px;
   
}
.price-content{
    border: 2px solid #ebebeb;
    display: inline-block;
    border-radius: 35px;
    padding: 1px;
    
}
.button-1{
    padding: 10px 22px;
    border: none;
    background:transparent ;
   
}
.activee{
    border-radius: 35px;
    background:#2500f9;
    color: white;
}


/* card section */

.cd-table{
    margin: 60px 0;
}
.card{
    border-radius:8px;
}
.card-header{
    background: #f4f7f9 !important;
    padding: 26px;
    border: none;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
}
.card-header h2{
    color: #242f51;
    font-size: 60px;
    font-weight: 600;
    padding: 32px 0 18px 0;
}

.card-header h2 span{
    color: #999ca5;
    font-size: 18px;
    font-weight: 400;
}
.card-header strong{
    color: #242f51;
    font-size: 20px;
}
.card-header p{
    color: #999ca5;
    font-weight:600;
}
.card-body{
    background: #fff;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
}
.card-body p{
    color: #999ca5;
    font-weight:500;
    margin: 16px 0;
}
.buy-btn{
    color: white;
    background: #2500f9;
    padding: 16px 45px;
    border-radius: 35px;
    border: none;
    font-weight: 600;
}
.card-activee{
    border: none;
    box-shadow: 6px 10px 20px 10px rgb(195 192 192 / 20%);
}

.trail{
    color: #2500f9 !important;
    margin-top:32px !important;
}

.test{
    padding: 60px 0;
    width: 100%;
    position: relative;

}
.test-1{
    margin: 5px 0;
}
.star i{
    color: #ffcc00;
}
.test-1 h6{
    color: #242f51;
    margin: 20px 0;
    font-size: 24px;
    font-weight: 600;
}
.test-1 p{
    margin-bottom: 32px;
}
.user h6{
    margin: 0 !important;
}
.user .col-md-6{
    padding-top: 16px;
    padding-left: 20px;
}
.user .col-md-6 h6{
    color: #242f51;
    font-size: 20px;
    font-weight: 600;
    padding-top: 5px;
}
.user .col-md-6 p{
    margin-top: 5px;
}
.test-img{
    position: absolute;
    left:0;
    top: 100px;
}

/* faq section start */

.FAQ{
    padding: 80px 0;
    width: 100%;
    
}
.faq-item{
    margin-top: 40px;
}
.faq-title{
    text-align: center;
}
.accordion-item{
    background-color: #e5e9ee!important;
    border:none;
    padding: 16px;
    margin-bottom: 6px
}
.accordion-button{
    color: #242f51 !important;
    background-color: #e5e9ee!important;
    font-weight:600;
    padding: 0 24px;
}

.accordion-button:not(.collapsed) {
    color: #242f51 !important;
    background-color: #e5e9ee  !important;
    box-shadow:none;
    font-weight:600;
    font-size: 20px;
    padding:18px 24px !important;
}
.accordion-button::after{
    background-image: url(../img/plus.png) !important;
}

.accordion-button:not(.collapsed)::after{
    background-image: url(../img/minus-sign.png) !important;
}

.download{
    padding: 20px 0;
    width: 100%;
    border-top: 1px solid rgb(235, 227, 227);
    position: relative;
    height: 432px;
    
}
.down-content .span1{
    padding-right:24px ;
}

.down-item h2{
    font-size: 36px;
    color: #242f51;
    font-weight: 600;
    margin-bottom: 24px;
    margin-top: 100px;
}
.down-item p{
    font-size: 16px;
    margin: 32px 0;
    
}

.footer{
    width: 100%;
    background: #09142e;
    padding: 80px 0;

}
.footer-item{
    text-align: center;
}
.list{
    text-align: center;
    margin: 30px 0;
}
.list ul li a{
    color: white !important;
}
.down-rightt{
    position: absolute;
    right: 0;
}
.fo-icon{
    text-align: center;
}
.fo-icon i{
    color: #273043;
    font-size:24px;
    margin-left: 24px;
}
.fo-icon i:nth-child(3){
    color: #fff;
    
}
.fp{
    color: #3d465a;
    font-size: 14px;
    text-align: center;
    margin-top: 42px;

}





